.container {
    margin: 2rem;
    padding: 1rem;   
}

.header {
    text-align: center;
}

.header > h1 {
    margin: .5rem 0;
    color: var(--text-light);
}

.header > p {
    margin-top: 1rem;
    font-weight: 200;
    letter-spacing: .04em;
    font-family: "Teko", "Oswald", sans-serif;
    color: var(--text-light);
}