.search {
    min-height: 150px;
    position: relative;
}

.error {
    color: red;
    font-size: 19px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search > form > input {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    min-width: 220px;
    max-width: 340px;
    width: 100%;
    min-height: 2em;
    border: solid 1px var(--border);
    border-radius: 1.2rem;
    background-color: rgba(0, 0, 0, .3);
    padding: .6em 2em;
    caret-color: var(--border);
    color: var(--text);
    transition: .5s ease;
    font-size: 16px;
}

.search > form > input:hover {
    border: solid 2px white;
}
