.player {
    color: var(--gold);
    font-size: 30px;
    margin: 0 auto
}

.container {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}